<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Права доступа -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions"/>

    <application
        android:label="time_spy"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <!-- Поддержка старого HTTP-клиента -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

        <!-- Основная активити Flutter -->
        <activity
            android:label="TimeSpy"
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Тема, применяемая до загрузки Flutter UI -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Точка входа приложения -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Обязательный мета-тег для Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Для обработки текстовых интентов -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
    <queries>
        <!-- Світові популярні додатки -->
        <package android:name="com.android.chrome"/>
        <package android:name="com.google.android.youtube"/>
        <package android:name="com.facebook.katana"/>
        <package android:name="com.whatsapp"/>
        <package android:name="com.instagram.android"/>
        <package android:name="com.snapchat.android"/>
        <package android:name="com.twitter.android"/>
        <package android:name="com.spotify.music"/>
        <package android:name="com.netflix.mediaclient"/>
        <package android:name="com.telegram.android"/>

        <!-- Популярні українські додатки -->
        <package android:name="ua.gov.diia.app"/> <!-- Дія -->
        <package android:name="ua.netology.android.potoki"/> <!-- Приклад -->
        <package android:name="ua.oschadbank.mobilebank"/> <!-- Ощадбанк -->
        <package android:name="ua.privatbank.ibank"/> <!-- Приват24 -->
        <package android:name="ua.ukrposhta.app"/> <!-- Укрпошта -->
        <package android:name="ua.monobank.app"/> <!-- Монобанк -->
        <package android:name="com.budmo.apps.budmo"/> <!-- Budmo -->
        <package android:name="ua.fonbet.android.fonbet"/> <!-- Фонбет -->

        <!-- Популярні польські додатки -->
        <package android:name="pl.wfirma.mobile"/> <!-- wfirma -->
        <package android:name="pl.payu.android"/> <!-- PayU -->
        <package android:name="pl.orange.rn"/> <!-- Orange Polska -->
        <package android:name="pl.allegro.android"/> <!-- Allegro -->
        <package android:name="pl.mbank.mobile.android"/> <!-- mBank -->
        <package android:name="pl.ing.mobile"/> <!-- ING Bank -->
        <package android:name="pl.citibank.online.android"/> <!-- Citi Handlowy -->
        <package android:name="pl.wp.tv"/> <!-- WP TV -->

    </queries>

</manifest>
